<md-card>
  <md-card-title>
    Welcome to the Dashboard {{ user.name }}
  </md-card-title>
  <md-card-content>
    <ng-container *ngIf="testSub$ | async">Api test sub: {{ testSub$ | async }}</ng-container>

    <form [formGroup]="form" (ngSubmit)="submitState()" autocomplete="off">
      <md-input-container>
        <input mdInput formControlName="name" [placeholder]="nameLabel">
      </md-input-container>
      <button md-raised-button color="primary">Update store</button>
      <button md-raised-button color="accent" type="button" (click)="clearName()">Clear name</button>
    </form>
    <br><br>
      <button id="my-logout-button" md-raised-button color="accent" (click)="logout()">Logout</button>
</md-card-content>
</md-card>
