<header>
  <md-toolbar color="primary">
    <span>@angular</span>
    &nbsp;
    <md-icon class="example-icon">favorite</md-icon>
  </md-toolbar>
</header>

<div class="button-row">
  <button
    *ngFor="let view of views"
    [routerLink]="view.link"
    color="primary"
    md-raised-button
  >
    {{ view.name }}
  </button>
</div>

<router-outlet (activate)="activateEvent($event)" (deactivate)="deactivateEvent($event)"></router-outlet>

<my-store-devtools *ngIf="showMonitor"></my-store-devtools>
