<md-card>
  <md-card-title>
    Graph
  </md-card-title>
  <md-card-content>
    <p>This Graph Module is being loaded lazily.</p>

    <md-list *ngIf="isFetching; else isFetchingMsg">
      <md-list-item *ngFor="let post of data.posts">
        <h3 md-line>{{ post.title }} <{{ post.author.firstName }}></h3>
        <p md-line>
          <md-icon class="example-icon" color="accent">thumb_up</md-icon>
          <span>{{ post.votes }}</span>
        </p>
      </md-list-item>
    </md-list>

    <ng-template #isFetchingMsg>
      <md-spinner color="accent"></md-spinner>
    </ng-template>
  </md-card-content>
</md-card>
